* { /* reset */
  font-family: sans-serif; 
  margin: 0; 
  padding: 0; 
}

body { 
  width:1000px;
}

img {
  min-width: 49px;
  min-height: 49px;
  background-color: #0a0;
}

ul {
  list-style-type:none;
}

li {
  min-height: 50px;
}

li > p {
  float:right;
}

#symbolEditor {
  max-width: 210px;
  float: left;
  border-right: solid 3px;
  border-bottom: solid 3px;
}

.symbolEditorButton {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 1px 1px 1px 1px;
  float: left;
  display: inline;
  overflow: hidden;
}

.symbolEditorButton:hover {
  background-color: #00a;
}

.sequenceItem {
  cursor:pointer;
}

#sequenceView {
  display:block;
  float:left;
  min-width: 500px;
  background-color: #00a;
}

#stats {
  margin-top: 10px;
  background: #a00;
  color: white;
  float: left;
  clear: both;
}

#debug {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  font-weight: bold;
}
